.info-text{
	background-color: azure
}
.steps{
	background-color: mistyrose 
}
.example{
	background-color: lightyellow 
}
body {
  background-image: url("https://thumbs.dreamstime.com/b/forbidden-mailing-do-not-send-message-flat-style-vector-illustration-icon-isolated-white-background-147273637.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}