p{
    color: indigo;
    background-color: papayawhip;
}

.card-body{
	background-color: papayawhip;
}
h6{
	color: sienna;
	background-color: paleturquoise;
}

ol{
	color: indigo;
    background-color: papayawhip;
}
ul{
	color: indigo;
    background-color: papayawhip;
}
.container{
	background-color:mediumorchid ;
}